/* File: src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to ensure black background */
html, body {
  background-color: black;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.custom-width {
  width: 100%;
}

@media (min-width: 600px) {
  .custom-width {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .custom-width {
    width: 30%;
  }
}
